@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Add a Treat</h2>

<h4>Add a Treat to This Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Flavor List", "Index")</p>